<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests" parallel="classes" thread-count="2">
    <test name="Smoke tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProjectsTest"/>
            <class name="tests.CaseTest"/>
            <class name="tests.SuiteTest"/>
            <class name="tests.TestPlanTest"/>
        </classes>
    </test>
</suite>